.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background: transparent;
  z-index: 999;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;

  max-width: 600px;
  width: 100%;
  padding: 40px;
  height: auto;

  transform: translate(-50%, -50%);
  border: 1px solid rgba(97, 13, 13, 0.2);
  border-radius: 20px;

  background:
    radial-gradient(
      circle at 80% 20%,
      #1a0505 0%,
      #0a0202 50%,
      transparent 100%
    ),
    radial-gradient(
      circle at 20% 80%,
      #150404 0%,
      #0a0202 50%,
      transparent 100%
    );

  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  box-shadow: 0 8px 32px 0 #0a0202;

  opacity: 1;
  z-index: 1000;
}
