@use "styles/themes";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
  user-select: none;
}

body,
input,
textarea {
  font-family: var(--font-inter), sans-serif;
  font-weight: 400;
  font-optical-sizing: auto;
  line-height: 1.5;
  color: var(--text-primary);
  background:
    var(--bg-gradient-1), var(--bg-gradient-2), var(--bg-gradient-body);
  background-color: var(--bg-primary);
  background-attachment: fixed;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

p,
a,
span {
  font-family: var(--font-inter), sans-serif;
  font-weight: 400;
  color: var(--text-primary);
}

label {
  font-family: var(--font-poppins), sans-serif;
  font-weight: 500;
  color: var(--text-primary);
}

button {
  font-family: var(--font-inter), sans-serif;
  font-weight: 600;
  color: var(--text-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-poppins), sans-serif;
  font-weight: 800;
  color: var(--text-primary);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.loading .anim-loading {
  position: relative;
  min-height: 763px;
  pointer-events: none;
  overflow: hidden;
  border-color: transparent;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--loading-gradient);
    background-size: 300%;
    pointer-events: none;
    border-radius: 5px;
    z-index: 99;
    animation: loadingEffect 2s infinite;
  }

  @keyframes loadingEffect {
    from {
      background-position: 300% 0;
    }
    to {
      background-position: 0% 0;
    }
  }
}
