.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__body {
    display: flex;
    flex: 1;
  }

  &__main {
    flex: 1;
    min-width: 0;
  }
}

@media (max-width: 768px) {
  .layout {
    &__body {
      flex-direction: column;
    }
  }
}
